.invite {
    width: 50%;
}

.slice_input {
    background: transparent;
    width: 100%;
}

.color-row0 {
    background-color: lightcyan;
}
.color-row1 {
    background-color: lightskyblue;
}

.headline {
    border-bottom: solid;
    border-bottom-color: black;
}