<!DOCTYPE html>
<html ng-app="store">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="CSS/style.css">
        
        <script type="text/javascript" src="JS/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="JS/angular.min.js"></script>
        <script type="text/javascript" src="JS/angular-aria.js"></script>
        <script type="text/javascript" src="JS/angular-animate.js"></script>
        <script type="text/javascript" src="JS/angular-material.js"></script>
        <script type="text/javascript" src="JS/app.js"></script>
    </head>
    <body class="container">
       <h1>Pizza order</h1> 
        <div class="container center invite" ng-controller="StoreController as store">
            <h4>People:</h4>
            <div ng-repeat="person in store.people">
                <div class="container-fluid color-row{{$index % 2}}">
                    <div class="container-fluid row" ng-init="person.show_slices=false">
                        <p class="col-xs-4">> {{person.name}}</p>
                        <div class="col-xs-4 row">
                            <div class="col-xs-5">
                                <p>total_slices:</p>
                            </div>
                            <div class="col-xs-5">
                                <input class="slice_input" type="number" min="1" ng-model="person.total_slices">
                            </div>
                        </div>
                        <button class="btn col-xs-2" ng-click="person.show_slices=!person.show_slices">Toppings</button>
                    </div>

                    <div>
                        <div class="container-fluid row">
                        </div>
                        <div ng-show="person.show_slices">
                            <p class="headline">slices</p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>name</p>
                                </div>
                                <div class="col-xs-2 col-xs-offset-1">
                                    <p>count</p>
                                </div>
                            </div>

                            <!-- selected slics -->
                            {{person.slices}}
                            <div class="row" ng-repeat='topping_name, count in person.slices'>
                                <div class="col-xs-4">
                                    aaa
                                    <p>{{topping_name}}</p>
                                </div>
                                <div class="col-xs-2 col-xs-offset-1">
                                    bbb
                                    <p>{{count}}</p>
                                </div>
                            </div>

                            <!-- select new slics -->
                            <div class="row">
                                <div class="col-xs-4">
                                <!-- <input placeholder="name" ng-model="person.new_topping.name"> -->
                                <md-autocomplete
                                md-selected-item="person.new_topping.name"
                                md-search-text="searchText"
                                md-items="item in store.findToppings(searchText)"
                                md-item-text="item.display"
                                md-min-length="0" 
                                placeholder="Type something">
                                    <md-item-template> <span md-highlight-text="searchText">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>No matches found </md-not-found>
                                </md-autocomplete>

                                </div>
                                <div class="col-xs-2 col-xs-offset-1">
                                    <input placeholder="count" type="number" ng-model=person.new_topping.count min="0"> <!-- max="{{person. slices - person.slices_with_slices}}" > -->
                                </div>
                                <div class="col-xs-1">
                                    <button class="btn" ng-click="store.add_slices(person)">+</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-fluid row">
                <input class="col-xs-6" ng-model=store.new_person.name placeholder="name...">
                <button class="btn col-xs-2 col-xs-offset-1"ng-click="store.add_person(store.new_person)">+</button>
            </div>
            <piz-pizza kfir="dani" people=store.people></piz-pizza>
        </div>     
    </body>
</html>