<!DOCTYPE html>
<html ng-app="store">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="CSS/style.css">
        
        <script type="text/javascript" src="JS/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="JS/angular.min.js"></script>
        <script type="text/javascript" src="JS/app.js"></script>
    </head>
    <body class="container">
       <h1>Pizza order</h1> 
        <div class="container center invite" ng-controller="StoreController as store">
            <h2>People:</h2>
            <div ng-repeat="person in store.persons">
                <div>
                    <div ng-click=store.show_slices()>
                       <p>> {{person.name}} </p>
                    </div>
                    <div class="container-fluid" ng_show="store.chosing_slices">
                        <div class="container-fluid row">
                            <input class="col-xs-2 forom-control unborderd_input" type=number min=0 ng-model=person.slices_amount placeholder="slices">
                        </div>
                        <button class="btn" ng-click=store.add_toppings(person)>Add Toppings</button>
                        <div ng-show=person.has_toppings>
                            <h4>toppings</h4>
                            <div ng-repeat='topping in person.toppings'>
                                {{topping.amount}}, {{topping.name}}
                            </div>
                            <input placeholder="amount" type="number" min="0" max="{{person.slices_amount - person.slices_with_toppings}}" ng-model=person.new_topping.amount>
                            <input placeholder="name" ng-model=person.new_topping.name>
                            <button class="btn" ng-click='store.add_topping(person)'>+</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-fluid row">
                <input class="col-xs-6" ng-model=store.new_person.name placeholder="name...">
                <button class="btn col-xs-2 col-xs-offset-1"ng-click="store.add_person(store.new_person)">+</button>
            </div>     
        </div>
    </body>
</html>